@import "../../variables.module.scss";

.header {
    background-color: $blue-color;
    width: 100%;
    position: fixed;
    top: 0;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-height;
        max-width: 1920px;

        &__right {
            height: 100%;
            display: flex;
            flex-basis: 100%;
            justify-content: flex-end;
            align-items: center;
        }
    }
}