$text-theme-color: #313037;
$background-theme-color: #fff;

$white-color: #fff;
$border-color: #dadada;
$disabled-color: #8d8e97;
$text-color: #313037;

$blue-color: #2231aa;
$blue-accent-color: #5360cd;

$red-color: #fd3419;
$grey-color: #e8e8e8;
$grey-hover-color: #dadada;

$header-height: 84px;